.whole-page {
  width: 100vw;
  min-height: 100vh;
}

body {
  margin: 0px;
}

section {
  width: 100%;
}

.header2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #222f36;
  height: 150px;
  width: 100%;
  font-family: Cinzel, serif;
}

a {
  text-decoration: none;
  color: white;
}

.projects {
  justify-content: space-between;
  align-items: flex-end;
}

.daniel {
  font-size: x-large;
  color: white;
}

.me {
  font-size: x-large;
  color: white;
}

.possehl {
  font-size: x-large;
  color: white;
}

p {
  margin: 0px;
}

.bio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #dddfed;
  height: 800px;
  width: 100%;
  font-family: Cinzel, serif;
  background-image: url('https://png.pngtree.com/thumb_back/fw800/back_our/20190628/ourmid/pngtree-light-blue-background-image_264178.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.pizza {
  background-color: black;
  height: 150px;
  width: 150px;
  width: auto;
}

.levitate {
  border-radius: 15px 50px 30px;
  box-shadow: 15px 8px 5px #ccc;
  background-color: white;
  /* border: 1px solid black; */
  height: 400px;
  width: 400px;
}

/* .designer {
  border-radius: 15px 50px 30px;
  box-shadow: 15px 8px 5px #ccc;
  background: #dddfed;
  /* border: 1px solid black; */
/* height: 400px;
  width: 400px;
  /* opacity: 0.3; */
*/ */ .whoiam {
  border-radius: 15px 50px 30px;
  box-shadow: 15px 8px 5px #ccc;
  background-color: #dddfed;
  border: 0.05px solid black;
  height: 400px;
  width: 400px;
}

.project {
  height: 500px;
  background-color: #f0f0f5;
}

.stand-alone {
  color: black;
  font-size: xx-large;
}

.project1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  /* height: 100%; */
  width: auto;
  border: 0.05px solid black;
  /* background-color: khaki; */
}

.photo-resize1 {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  opacity: 0.6;
}

.photo-resize {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  opacity: 0.6;
}

.project2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: auto;
  border: 0.05px solid black;
}

.photo-resize2 {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  opacity: 0.6;
}

.photo-resize3 {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  opacity: 0.6;
}

.project3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  width: auto;
  border: 0.05px solid black;
}

.projectfont {
  font-size: xx-large;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #222f36;
  height: 200px;
  width: 100%;
  font-family: Cinzel, serif;
  color: white;
}

.nats {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  width: auto;
  border: 0.05px solid black;
  height: 300px;
}

/* // Styles for 0-499px viewports */
@media (max-width: 500px) {
  .header2 {
    display: grid;
    justify-content: space-around;
    align-items: center;
    background-color: #222f36;
    height: 150px;
    width: 100%;
    font-family: Cinzel, serif;
  }

  .bio {
    display: grid;
    justify-content: space-around;
    align-items: center;
    background-color: #dddfed;
    height: 800px;
    width: 100%;
    font-family: Cinzel, serif;
    background-image: url('https://png.pngtree.com/thumb_back/fw800/back_our/20190628/ourmid/pngtree-light-blue-background-image_264178.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .project1 {
    display: grid;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    height: 100%;
    width: auto;
    border: 0.05px solid black;
    /* background-color: khaki; */
  }

  .project2 {
    display: grid;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: auto;
    border: 0.05px solid black;
  }

  .project3 {
    display: grid;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    width: auto;
    border: 0.05px solid black;
  }

  footer {
    display: grid;
    justify-content: space-around;
    align-items: center;
    background-color: #222f36;
    height: 200px;
    width: 100%;
    font-family: Cinzel, serif;
    color: white;
  }
}
